#home-p{
    color: blueviolet;
}

#inline{
    display: inline-block; /* or use display: inline */
    margin-right: 1px; /* Optional: Adds spacing between links */
}

#center{
    text-align: center;
}

#header-align{
    text-align: center;
    background-color: #FF7D29;
    padding: 15px 0
    
}
.weight{
    font-weight: 200;
}
.about-p{
    color: blue;
    text-align: center;
    background-color: antiquewhite;
  }

#lis{
    list-style: none;
    padding: 0PX;
    margin: 0%;
    text-align: left;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.outer-div{
    background-color: #FF7D29;
    padding: 10px;
    text-align: center;
}
.inner-div{
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border: 3px solid whitesmoke;
}